
h1{
	font-size: 50px; font-weight: 600; line-height: 80px;
}

p{
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 0px;
}

section{
	padding: 120px 0;
}

a:hover{
	text-decoration: none;
}
.topmargin-xs {
	margin-top: 15px;
}
.topmargin-sm {
	margin-top: 30px;
}
.topmargin-lg {
	margin-top: 60px;
}
.btn{
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;

}

.btn-light {
	background: transparent;
	color: black;
	border: 2px solid #bc9677;
	transition:all .5s ease-in-out;
}

.btn-dark{
	background-color: black;
	color: white;
	border: 2px solid #1a1a1a;
}

.btn ion-icon{
	font-size: 15px;
	margin-left: 5px;
	margin-bottom: 5px 
}

.btn-light:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.btn-primary{
	background-color: black;
	border-color: black;
	align-items: center;
}
.btn-alternate{
	background-color: white;
	border-color: black;
	border-radius: solid 2px black;
	align-items: center;
	color: black;
}

.btn-alternate:hover {
	background-color: transparent;
	border-color: white;
	border-radius: solid 2px white;
	align-items: center;
	color: white;
}

.btn-primary:hover {
	background-color: transparent;
	border-color: grey;
	color: black;
	border-radius: solid 2px black;
}
.full-width{
	width: 100%;
}

.logotipo{
	width: 100px;
}
.navbar {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 100px; 
	font-size: 12px;
	padding: auto;
}

.nav-link {
	color: #bc9677;
}

.nav-link:hover {
	color:  #1a1a1a;
}

.icon-menu{
	font-size: 40px;
	color: #bc9677;
}

.icon-menu:focus {
	outline: none;

}



@media (max-width: 575.98px) { 
    h1 { font-size: 40px; line-height: normal; }
    .portfolio-details h2 { font-size: 32px; }
    .plans { min-width: unset; padding: 40px; }
    .carousel-item p { font-size: 20px; }
    .display-4 { font-size: 35px; }
    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .portfolio-details h2 { font-size: 30px; }
    .plans { min-width: unset; padding: 40px 20px;}
    .display-4 { font-size: 35px; }
    p{ font-size: 15x; }
    .btn-primary{
    	min-width: unset; padding: 20px 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }

.footer-copyright{
	background-color: #bc9677;
	font-color: white; 
	font-size: 12px;

}

.list-unstyled{
	background-color: white;
	font-color: #bc9677;
}
.display-4 { font-size: 35px; 
text-align: center;
}
footer{
	background-color: #D6C0AD;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 80px; 
	font-size: 12px;
	padding: auto;
}

.text-uppercase {
	color: black;
	background-color: #D6C0AD;
}

h5 {
	background-color: #D6C0AD;

}

h2{
	text-align: center;
}
.footer-copyright a{
	font-color: black;
}

#hero {
	background-image: url("https://p1.pxfuel.com/preview/833/159/608/clouds-hd-wallpaper-nature-sky.jpg");
	background-size: cover;
	padding-top: 90px;
	max-height: 500px; 
}



ion-icon{
	color: black; 
	width: 45px;
	height: 45px;
}

 ion-icon:hover{
 	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	filter: blur(0.5px);
 }


.text-uppercase ul li {
	font-color: black;
	list-style: none;
}

p{
	text-align: left;
}
.text-center p{
	font-color: #bc9677;
	text-align: center;
}

.content-all{
	width: 100%;

}

.content-corrousel{
	width: 90%;

}

.content-carrousel figure{
	width: 50%;
	height: 50%;
}

.content-corrousel img{

	width: 50%;

}

.divider h1{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 0px;
	font-size: 50px;
	text-decoration: underline wavy black;
}
.content-center p{
	text-align: center;
}

.pricing-container {
    margin: 15px 0;
}

.plans {
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
}

.plan-light {
    background-color: white;
    border: 2px solid black;
}

.plan-dark {
    background-color: black;
    border: 2px solid black;
    color: white;
}



.plans h2 {
    font-size: 70px;
    font-weight: 600;
}

.plans h2 span {
    font-size: 20px;
}

.plans ul {
    list-style-type: square;
}
.carousel {
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: black;
}

.carousel-indicators li {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}


.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}

.testimonial-user h6 {
    margin-bottom: 0px;
}

.testimonial-user span {
    font-size: 12px;
}

.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}

.rating i {
    color: yellow;
    font-size: 26px;
}

.jumbotron{
	background-color: transparent;
}

.my-4 p{
	text-align: center;
	color: white;
}

li .page-item a{
	background-color: transparent;
}