body{
	font-family: 'Titillium Web', sans-serif;

}
h1{
	font-size: 50px; font-weight: 600; line-height: 80px;
}
h5{
	margin-bottom: 0px;
}
p{
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 0px;
}
a:hover{
	text-decoration: none;
}

a ion-icon{
	font-size: 22px;
	color: white;
}
section{
	padding: 120px 0;
}

bg-light-grey {
	background-color: #f5f5f5;
}

.topmargin-xs {
	margin-top: 15px;
}
.topmargin-sm {
	margin-top: 30px;
}
.topmargin-lg {
	margin-top: 60px;
}
.btn{
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;

}

.btn-light {
	background: transparent;
	color: black;
	border: 2px solid #bc9677;
	transition:all .5s ease-in-out;
}

.btn ion-icon{
	font-size: 15px;
	margin-left: 5px;
	margin-bottom: 5px 
}

.btn-light:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.btn-secondary {
    background-color: var(--white-color);
    color: var(--dark-color);
    border: 2px solid var(--white-color);
}

.logotipo{
	width: 100px;
}
.navbar {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 100px; 
	font-size: 12px;
	padding: auto;
}

.nav-link {
	color: #bc9677;
}

.nav-link:hover {
	color:  #1a1a1a;
}

.icon-menu{
	font-size: 40px;
	color: #bc9677;
}

.icon-menu:focus {
	outline: none;

}

#hero {
	background-image: url("https://hardwareviews.com/wp-content/uploads/2018/10/spotify-logo-computer-wallpaper-62369-64312-hd-wallpapers.jpg");
	background-size: cover;
	padding-top: 90px;
	min-height: 500px;
	color: #ffffff; 

}

#hero p {
	color: #bc9677;
}
.content-center{
	max-width: 800px;
	margin: 0 auto 80px auto;
	text-align: center;
	color: #bc9677;
}

.content-center h2{
	color: black;
	font-size: 40px;
	padding-bottom: 10px;
	padding-top: 30px;
}
.content-center p{
	color: black;
	font-size: 18px;
}

.conten-center a{
	font-size: 32px;
}

.portfolio-container{
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 2px;
}

.portfolio-details{
	position: absolute;
	bottom: -8px;
	left: 15px;
	z-index: 9000;
}

.portfolio-details a h2, .portfolio-details a p{
	color: #bc9677;
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;

}

.member-container{
	position: relative;
	margin: 10px 0;
}
.member-details{
	position: absolute;
	color: white;
	bottom: 0px;
	left: 20px;
}
.portfolio-details h2{
	margin-bottom: 0px;
}

.portfolio-container img{
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
	width: 600px;
	align-items: center;
	padding: auto;
	margin-left: 20px;

}

.portfolio-container img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	filter: blur(2.5px);
}

.portfolio-container1{
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 2px;
}

.portfolio-details1{
	position: absolute;
	bottom: -8px;
	left: 15px;
	z-index: 9000;
}

.portfolio-details1 a h2, .portfolio-details1 a p{
	color: #bc9677;
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;

}

.portfolio-details1 h2{
	margin-bottom: 0px;
}

.portfolio-container1 img{
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
	width: 600px;
	align-items: right;
	padding: auto;
	margin-left: 20px;
	position: relative;
}

.portfolio-container1 img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	filter: blur(2.5px);
}

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container-text p{
    	height: auto;
    	width: auto;
    	margin: auto;
    	margin-left: auto;
    }

    .table-success{
    	max-width: 50px; 
    	margin-left: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }

.footer-copyright{
	background-color: #bc9677;
	font-color: white; 
	font-size: 12px;

}

.list-unstyled{
	background-color: white;
	font-color: #bc9677;
}

footer{
	background-color: #D6C0AD;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 80px; 
	font-size: 12px;
	padding: auto;
}

.text-uppercase {
	color: black;
	background-color: #D6C0AD;
}

.footer-copyright a{
	font-color: black;
}

.text-uppercase p a ion-icon{
	color: black;

}
ion-icon{
	width: 25px;
}

 ion-icon:hover{
 	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	filter: blur(0.5px);
 }


.text-uppercase li a{
	font-color: black;
}

.text-center p{
	font-color: #bc9677;
	text-align: center;
}

.container-text{
	max-width: 1000px;
	margin-left: 50px;
}